.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5%;
  
}

/* -----------------------body */
/* .body{
  flex: 1;
}
*/
/* .view{
  min-width:100vw;
  max-width: 100%; 
  height: auto;
}  */

.section-divider {
  border: none;
  border-top: 3px solid #335b68; /* Blue color (#335b68) */
  margin: 0% 10%; /* Adjust the margin as needed to control spacing */
}

.sec{
  margin: 2%;
  padding: 2%;
}

.wrapBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.view {
  background-image: url('./images/Vista y Roof/VISTA2.jpg');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-position: center; /* Adjust as needed */

  min-width:100vw;
  max-width: 100%; 
  height: auto;
  display: flex;
  justify-content: center;
  
}

.transparent{
  background-color: black;
  opacity:.5;
  width: 60%;
  padding: 3%;
  color: white;
  border-radius: 5px;
}

.cont{
  padding: 7%;
}

/* -----welcome */

#blue{
  background-color: #165366;
  color: white;
  margin: 5% 5% 0% 5%;
  border-radius: 20px;
}

.sec{
  width: 180px;
  margin: 3% 0%;
}

.sec h3{
  margin: 6% 0%;
}


.carouselCont{
  margin: 5% 0%;
  background-color: #D9D9D9 ;
  border-radius: 20px;
}

.texto{
  margin: 2%;
  padding: 5%;

}

/* location */


.imgcont img{
  height: auto;
  margin: 1%;
  border-radius: 5px;
}

#wrp{
  min-width: 40%;
  max-width: 400px;
}

#table{
  display: flex;
  justify-content: center;
}

iframe{
  width: 70vw;
  height: 40vw;
}

/*  ---fotos */
#pill{
  border-radius: 60px ;
}

.opts button{
  margin: 1%;
}




/* -----------------------body */
footer {
  background-color: #282c34;
}
