/* COLOREs
dark grey #282C34
light grey #D9D9D9
blue #335B68
green #80A93D */
.tgrey{
  color: #a0a0a0;
}
.tblue{
  color: #335B68;
}
.twhite{
  color: #FFFFFF;
}
.tgreen{
  color: #789c3e;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* ---------- HEADER */
.App header {
  background-color: #282C34;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1.5vh 5%;
  z-index:0;
  position: relative;
  top: 0; /* Stick the header to the top of the viewport */
  left: 0; 
  width: 100vw;
  
}
#hide{
  position:fixed;
  z-index: 2;
  padding: 2.5vh  5%;
}

.menu{
  right: 0;
  z-index: 5;

  background-color: #f3f3f3;
  border-radius: 0 0 0 20px;
  width: 45vw;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
}

.ham{
  width: 3vh;
  min-width: 3%;
}

.exit{
  width:100vw;
  height: 100vh;
  z-index: 3;
  transition: opacity 0.3s;
  position: fixed;
}

/* -----------templates */
.section{
  margin-bottom: 6vh;
}
.sectionb{
  margin-bottom: 10vh;
}

.padd3{
  padding: 3%;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapBox{
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.noStyle{
  background: none;
  border: none;
}

/* -----------------------body */

.Title{
  /* margin-bottom: 5%;
  margin-top: 2%; */
  font-family: 'Playfair Display SC', serif;
  color: #335B68;
  font-weight: bold;
  font-size:  2.125rem ;
}
#bold{
  font-weight: bolder;
  /* color: #566e2e; */
}

.col{
  flex-direction: column;
}

.section-divider {
  border-top: 3px solid; 
  /* margin-left: 20%;
  margin-right: 20%; */
  border-radius: 30px;
  margin: 7vh 20vw 7vh ;
}
/* ----------- Welcome */
.view {
  /* background-image: url('./images/Vista y Roof/VISTA2.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  */

  width:100%;
  height: auto;

}

.transparent{
  background-color:#282c34;
  opacity:.7;
  max-width: 80%;
  color: white;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.green{
  background-color: #789c3e;
  color: white;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 13px -15px 0 -1px #336840; */
  /* box-shadow: 15px -15px 0 -1px #335B68; */

}

.pairr{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding:3%
  /*flex-grow: 1;
  width:60vw;
  min-width: 300px;
  
   
  text-align: center;
  
  margin: 0vw 5vw;
   */
}

#icons{
  height:5vh;
  margin-bottom: 1vh;
}

/* @media(){
} */
.sec{
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 3vh 0;
}
.sec img{
  margin: 6% 0%;
  width: 70%;
  max-width: 70px;
}


#blue{
  background-color: #374c53;
  width: 100vw;
  padding: 8vh;
  
  color: white;
 
}

.f8back{
  background-image: url('./icons/f8 copy.svg');
  background-position:left;
  background-size: 20vh;
  background-repeat: no-repeat;
}

#tbig{
  color:white;
  font-size:calc(20px + 3vw);
}

.grey{
  width:90vw;
  background-color: #D9D9D9 ;
  color: #165366;
  border-radius: 8px;
}


/* .carouselCont{
  margin: 3%;
  background-color: #D9D9D9 ;
  border-radius: 20px;
} */


/* ----------- fotos */
#fotosSection{

  margin-top: 60px;
}
.fotos{
  width: 100vw;
  margin-top: 30px;
}


#scrol{
  overflow-x: auto;
  white-space: 'nowrap'
}

#pill{
  border-radius: 60px ;
  border: none;
  padding: .5rem 1rem;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bolder;
}
#pill:hover{
  box-shadow: none;
  
}

.active-button {
  background-color: #4f656d;
  color:white;
  font-weight: bold;
}
.inactive-button {
  background-color: #D9D9D9;
  color: #4f656d;
}


.bordered-image {
  border: 2px solid #335B68;
}

#choice{
  flex-wrap: wrap-reverse;
  /* align-content: stretch; */
}

.lilimgs{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  /* width:15%; */
  min-width: 300px;
  margin: 3% 2% 0%;
  align-self:  flex-end;
  border: 2.5px solid #335b68;
  border-radius: 5px;
  padding: 10px 0px;
}


.img:hover{
  opacity: .5;
  border: 3px solid #316d85;
}

#myfoto{
  position: relative;
  height: 100%;
}

#myfoto button{
  position: absolute;
  z-index: 1;
  height:100%;
  width: 20%;
}

#prev{
  left:0;
}

#next{
  right:0
}

.overlay {
  position: absolute;
  bottom: 0;


  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: opacity 0.3s; /* Add a smooth fade transition */
  color: white;
  padding: 12%;
  min-width: 100%;
}

.image-container:hover .overlay {
  opacity: 0;
}

.imgModal{
  position: fixed;
  top:0;

  width: 100vw;
  height: 100vh;
  z-index: 10;

  /* background-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  background-color:  rgba(0, 0, 0, .5);
}

#xIcon{
  position: absolute;
  margin: 4%;
  top:0;
  left:0;
  z-index: 11;
}

/* general */
#aynose h3{
  min-width: 40%;
}


/* ------- location */
.imgcont img{
  height: auto;
  border-radius: 5px;
}

#wrp{

  max-width: 40vw;
  min-width: 300px;
  margin: 1% 25px;
}
.AAA{
  display: flex;
  align-items: center;
  margin: 1vh 10% 0;
  justify-content: space-evenly;
}

iframe{
  width: 85vw;
  height: 40vw;
}

/* --------- conntact */
.contactBox{
  background-color: rgb(230, 227, 227);
  border-radius: 10px;
  width: 90vw;
 
  padding: 6vh 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactA{
  margin: 3% 0 ;
  background-color: #D9D9D9;
  padding: 1%;
  border-radius: 60px ;
  text-align: left;
  /* display: grid;
  grid-template-columns: 25% 65%; */
  justify-content: space-around;


}
@media(min-width:600px){
  .contactA{
    justify-content: center;
  }

}

#wame:hover{
  background-color: #cbcad1;
}

.contactA img{
  max-width: 80px;
  height: 5vh;
  
  align-self: center;
  justify-self:right;
  
}

.lils{
  text-align: center;
  padding: 2%;
  font-weight: bolder;
}


.borderb{
  border-bottom: 2px solid #1c2b30;
}

/* -----------------------Footer */
footer {
  background-color: #282c34;
  color: white;
  /* padding: 1% 10%; */
}

a:link{
  color: #335B68;
  text-decoration: none;
}
a:hover{
  color:#3f8ea8;

}
