/* ImageCarousel.css */
  .carousel-container {
    max-height: 100vh;
    overflow: hidden;
  }

/* .carousel {
  border-radius: 5px;
} */

.carousel-container{
  width: 100%;
}

.carousel .slide img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
