/* ImageCarousel.css */
.carousel-container {
  max-width: 100%;
}

.carousel {
  border-radius: 5px;
}

.carousel .slide img {
    max-height: 90vh;
    max-width: 100%;
    width: auto;
    height: auto;
}
